html, body {
	background-color: #fff;
	color: #636b6f;
	/*font-family: 'Nunito', sans-serif;*/
	height: 100vh;
	margin: 0;
}

.body {
	margin-top: 80px;
	margin-bottom: 80px;
}

nav {
	background-color: #7b1113;
	z-index: 5;
	width: 100%;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.full-height {
	height: 720px;
}
.half-height {
	height: 360px;;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.links {
	color: #636b6f;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.footer {
	padding-top: 60px;
	background-color: #eeeeee;
}

.bg-image {
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.title {
	padding-top: 80px;
	padding-bottom: 80px;
}

.title-text {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-top: 50px;
	color: white;
}

.tint {
	position: relative;
	z-index: 3;
	background: rgba(123, 17, 19, 0.5);
}

.tint:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.3);
	transition: all .3s linear;
}

/*.tint:hover:before{
	background: none;
}*/

.crop-height {
	max-height: 950px;
	overflow: hidden;
}

.titleBackground {
	height: auto;
}


.flip {
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
	transform:         rotate(180deg);
}

img.flip {
	float: right;
}

#blank-navbar{
	height: 56px;
	width: 100%;
	visibility: hidden;
}

.hidden{
	display: none;
}

/*Changes to btn-primary to UP Maroon*/

.btn-primary{
	color:#fff;
	background-color: #7b1113;
	border-color: #b43c25;
}
.btn-primary:hover {
	color:#fff;
	background-color: #b43c25;
	border-color: #b43c25;
}
.btn-primary.focus,.btn-primary:focus {
	box-shadow: 0 0 0 .2rem rgba(123, 17, 19,0.5);
}
.btn-primary.disabled,.btn-primary:disabled {
	color:#fff;
	background-color: #7b1113;
	border-color: #b43c25;
}
.btn-primary:not(:disabled):not(.disabled).active,.btn-primary:not(:disabled):not(.disabled):active,.show>.btn-primary.dropdown-toggle {
	color:#fff;
	background-color: #b43c25;
	border-color: #b43c25;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,.btn-primary:not(:disabled):not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(123, 17, 19,0.5);
}

.text-primary {
	color: #b43c25!important;
}
/*-----------------*/
.card {
	border-radius: 10px;
}

.card-body {
	word-wrap: break-word;
	text-overflow: ellipsis;
}
.card-text {
	margin-bottom: 10px;
}

.card-text>h1, .card-text>.h1,
.card-text>h2, .card-text>.h2,
.card-text>h3, .card-text>.h3,
.card-text>h4, .card-text>.h4,
.card-text>h5, .card-text>.h5,
.card-text>h6, .card-text>.h6 {
	font-size: 1rem !important;
	font-weight: bold;
}

.card-img {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.card-img-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.card-text-over {
	z-index: 1;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 60%;
	left: 4%;
	/*transform: translate(-50%, -50%);*/
}

.input-group{
	padding-bottom: 24px;
}

.title-button {
	border: none;
	font-size: 4.5rem;
}

/*ANIMATIONS*/

.animated {
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
	0% {
	   opacity: 0;
	   -webkit-transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateY(0);
	}
}

@keyframes fadeInDown {
	0% {
	   opacity: 0;
	   transform: translateY(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateY(0);
	}
}

@-webkit-keyframes fadeInRight {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(-20px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
}

@keyframes fadeInRight {
	0% {
	   opacity: 0;
	   transform: translateX(-20px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
}

@-webkit-keyframes fadeInLeft {
	0% {
	   opacity: 0;
	   -webkit-transform: translateX(20px);
	}
	100% {
	   opacity: 1;
	   -webkit-transform: translateX(0);
	}
}

@keyframes fadeInLeft {
	0% {
	   opacity: 0;
	   transform: translateX(20px);
	}
	100% {
	   opacity: 1;
	   transform: translateX(0);
	}
}

.fadeInDown {
-webkit-animation-name: fadeInDown;
animation-name: fadeInDown;
}

.fadeInRight {
-webkit-animation-name: fadeInRight;
animation-name: fadeInRight;
}

.fadeInLeft {
-webkit-animation-name: fadeInLeft;
animation-name: fadeInLeft;
}

.delay-1 {
	animation-delay: 0.1s;
}
.delay-2 {
	animation-delay: 0.2s;
}
.delay-3 {
	animation-delay: 0.3s;
}
.delay-4 {
	animation-delay: 0.4s;
}
.delay-5 {
	animation-delay: 0.5s;
}
.delay-6 {
	animation-delay: 0.6s;
}
.delay-7 {
	animation-delay: 0.7s;
}
.delay-8 {
	animation-delay: 0.8s;
}
.delay-9 {
	animation-delay: 0.9s;
}
.delay-10 {
	animation-delay: 1s;
}


.highlight {
	-webkit-transition: background-color 0.6s ease;
	-moz-transition: background-color 0.6s ease;
	-o-transition: background-color 0.6s ease;
	transition: background-color 0.6s ease;
}

.highlight:hover {
	background-color: rgb(237, 241, 244);
}

strong {
	text-decoration: bold;
}

@media only screen and (min-width : 768px) {
	.title-text{ margin-top: 90px; }
	.bg-image { height: 320px; }
}

@media only screen and (min-width : 1200px) {
	.title-text{ margin-top: 120px; }
	.bg-image { height: 400px; }
}
