html, body {
	background-color: #fff;
	color: #636b6f;
	font-family: 'Nunito', sans-serif;
	height: 100vh;
	margin: 0;
}

main > .container, main > .container-fluid {
	margin-bottom: 40px;
}

.full-height {
	height: 100vh;
}
.half-height {
	height: 50vh;
}

.flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

.position-ref {
	position: relative;
}

.links {
	color: #636b6f;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 13px;
	font-weight: 600;
	letter-spacing: .1rem;
	text-transform: uppercase;
}

.footer {
	padding-top: 60px;
	background-color: #eeeeee;
}

.bg-image {
	height: 240px;
	width: 100%;
	overflow: hidden;
}

.title {
	padding-top: 80px;
	padding-bottom: 80px;
}

.title-text {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin-top: 50px;
	color: white;
}

.tint {
	position: relative;
	z-index: 3;
	background: rgba(123, 17, 19, 0.5);
}

.tint:before {
	content: "";
	pointer-events: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(123, 17, 19, 0.5);
	transition: all .3s linear;
}

/*.tint:hover:before{
	background: none;
}*/

.crop-height {
	max-height: 950px;
	overflow: hidden;
}

.titleBackground {
	height: auto;
}


.flip {
	-webkit-transform: rotate(180deg);
	-moz-transform:    rotate(180deg);
	-ms-transform:     rotate(180deg);
	-o-transform:      rotate(180deg);
	transform:         rotate(180deg);
}

img.flip {
	float: right;
}

/*Changes to btn-primary to UP Maroon*/

.btn-primary, .btn-primary:disabled, .show > .btn-primary.dropdown-toggle {
	background-color: #7b1113;
	border-color: #b43c25;
}

.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 .2rem rgba(123, 17, 19,0.5);
}

.btn-primary:hover {
	background-color: #b43c25;
	border-color: #b43c25;
}

.card {
	margin: 10px;
	border-radius: 0;
}

.card-body {
	word-wrap: break-word;
	text-overflow: ellipsis;
}

.card-img {
	border-radius: 0;
}

.card-img-top {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.card-text-over {
	z-index: 1;
	text-decoration: none;
	color: white;
	position: absolute;
	top: 70%;
	left: 6%;
	/*transform: translate(-50%, -50%);*/
}

.title-button {
	border: none;
	font-size: 4.5rem;
}

strong {
	text-decoration: bold;
}


@media only screen and (min-width : 768px) {
	.title-text{ margin-top: 90px; }
	.bg-image { height: 320px; }
}

@media only screen and (min-width : 1200px) {
	.title-text{ margin-top: 120px; }
	.bg-image { height: 400px; }
}
